/* import font */
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Notable&display=swap");

/* defaults */
* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  /* outline: 1px solid red; */
}

html,
body {
  height: 100%;
  width: 100vw;
  max-height: 100%;
  max-width: 100%;
  /* max-height: 100%; */
  overflow: hidden;
}

body {
  transition: 0.1s;
}

html {
  display: flex;
  justify-content: center;
}

body {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .lilita { */
* {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* styling the header */
header {
  padding-top: 1rem;
  /* background-color: rgba(255, 0, 0, 0.355); */
}

header p,
h1 {
  text-align: center;
  width: 100%;
}

.line1 {
  font-size: 1.7em;
  position: relative;
  top: 0.9rem;
}
.line2 {
  font-size: 5em;
}
.line3 {
  letter-spacing: 2px;
  position: relative;
  top: -0.5rem;
  font-size: 1.2rem;
}

/* styling the canvas */
.canvasWrapper {
  flex-grow: 1;
  width: 100%;
  max-width: 100vw;
  /* background-color: rgb(162, 162, 255); */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  position: relative;
  left: 18px;
  top: 15px;
  overflow: visible;
}

canvas {
  /* outline: 1px red solid; */
  /* transform: scale(0.5); */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* styling the bottom */
.bottom {
  /* background-color: rgba(0, 128, 0, 0.524); */
  height: 12rem;
  position: relative;
}
#answer {
  position: relative;
  font-size: 8rem;
  z-index: 5;
}
#durationLabel {
  position: relative;
  text-align: center;
  z-index: 5;
}

.ellipse {
  z-index: 1;
  position: absolute;
  top: calc(50% + 2.5rem);
  left: 50%;
  transform: translate(-50%, -50%);
}
